<app-mon-pre-comp></app-mon-pre-comp>
<hr>

<h1>Tutoriel en english</h1>
<hr>
<app-post-create></app-post-create>

<hr>
<h1>Example appareil open class room </h1>
<hr>

<div class="container">
    <div class="row">
      <div class="col-xs-12">

        <h2>Mes appareils</h2>
        <p>Mis à jour : {{ lastUpdate | async | date: 'yMMMMEEEEd' | uppercase }}</p>
        <ul class="list-group">
            <app-appareil *ngFor="let appareil of appareils"
            [appareilName]="appareil.name"
            [appareilStatus]="appareil.status"></app-appareil>
        </ul>
        <button class="btn btn-success"
                [disabled]="!isAuth"
                (click)="onAllumer()">Tout allumer</button>
      </div>
    </div>
  </div>
