<app-mon-pre-comp></app-mon-pre-comp>
<hr>

<h1>Tutoriel en english</h1>
<hr>
<app-post-create></app-post-create>

<hr>
<h1>Example appareil open class room </h1>
<hr>


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="auth">Authentification</a></li>
        <li routerLinkActive="active"><a routerLink="appareils">Appareils</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
